body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
 min-height: 320px;
 color: #ffffff;
 background-color: #f3f7f8;
 margin-bottom: 59px;
}

.header-top {
 width: 100%;
 min-height: 42px;
 color: #ffffff;   /* Почему для placeholdera в поиске не наследуется? */
 background-color: #293449;
}

.wrap1 {
  display: flex;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  color:  #ffffff;
  align-items: center;
}

.title-logo {
 font-size: 24px;
 line-height: 24px;
 color: #ffffff;
 text-transform: uppercase;
}

.main-logo {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 42px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-search {
  display: inline-block;
  width: 270px;
  position: relative;
}

  .header-search input {
  width: 220px;
  font-size: 17px;
  line-height: 18px;
  padding: 12px 0 12px 49px;
  background: transparent; 
  border: none;
  }

.header-search label {
  position: absolute;
  content: "";
  background: url("../img/icon-search.svg") no-repeat;
  opacity: 0.3;
  display: block;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 15px;
}


.bookmarks,
.basket {
 display: block;
 position: relative;
 width: 150px;
 padding: 12px 0 12px 50px;
 font-size: 17px;
 line-height: 18px;
 color: #ffffff;
}

.bookmarks::before,
.basket::before { 
 content: "";
 position: absolute;
 width: 17px;
 height: 17px;
 left: 15px;
 top: 13;
}

.bookmarks::before {
  background: url("../img/icon-bookmark.svg") no-repeat;
  opacity: 0.3;
}

.basket::before {
  background: url("../img/cart-icon.svg") no-repeat;
  opacity: 0.3;
}


.order {
 display: block;
 width: 150px;
 text-align: center;
 padding: 13px 22px 13px 22px;
 font-size: 17px;
 line-height: 18px;
 color: #ffffff;
 background: #63a63e;
}



.wrap2 {
  display: flex;
  flex-direction: column;
  width: 940px;
  padding: 0;
  margin: 0 auto;
}

.header-info {
  display: flex;
  flex-wrap: wrap;
  min-height: 160px;
  width: 940px;
  padding: 0;
  margin: 0 auto;
}

.title {
 box-sizing: border-box;
 margin: 0px;
 width: 300px;
 min-height: 65px;
 font-style: italic;
 font-weight: 400;
 font-size: 16px;
 line-height: 23px;
 color: #ee3643;
 padding: 50px 50px 45px 50px;
}

.contact {
  width: 320px;
  min-height: 65px;
  margin: 0;
  padding: 0;
}

.phone {
  position: relative;
 box-sizing: border-box;
 width: 270px;
 height: 45px;
 font-size: 21px;
 line-height: 21px;
 color: #ee3643;
 margin-left: 20px;
 margin-top: 46px;
 border: 3px solid #ffffff ;
 padding: 12px 50px 12px 75px;
 margin-bottom: 0px;
}

.phone::before {
  content: "";
  position: absolute;
  background: url("../img/icon-phone.svg") no-repeat;
  width: 20px;
  height: 20px;
  left: 15px;
  top: 12px;
}


.adress {
 width: 252px;
 margin-top: 8px;
 margin-left: 30px;
 padding: 0px;
 font-size: 14px;
 line-height: 24px;
 color: #32425c;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 320px;
  min-height: 65px;
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.login-link,
.registration {
  display: inline-block;
 font-size: 21px;
 line-height: 21px;
 color: #000000;
 background-color: #ffffff;
 padding: 12px 26px 12px 48px;
 margin-top: 46px;
}

.login-link  {
 position: relative;
 margin-right: 20px;
}

.login-link::before {
  content: "";
  position: absolute;
  background: url("../img/icon-login.svg") no-repeat;
  width: 20px;
  height: 20px;
  left: 14px;
  top: 15px;
  opacity: 0.3;
}

.main-menu {
  width: 940px;
	 color: #ffffff;
	 background-color: #293449;
}

.site-navigation {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation a {
 font-size: 17px;
 line-height: 17px;
 color: #ffffff;
 display: block;
 padding: 18px 30px;
 vertical-align: middle;
}

/*Содержание */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}


.block-first {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

 .column-1 {
  display: flex;
  width: 620px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-2 {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.materials {
 width: 300px;
 height: 123px;
 color: #ffffff;
 background-color: #ffbf47;
 margin: 0 0 20px 0;
}

.instruments {
 width: 300px;
 height: 123px;
 color: #ffffff;
 background-color: #3bbce3;
 margin: 0;
}

.technique {
 width: 300px;
 height: 123px;
 color: #ffffff;
 background-color: #dc91d8;
 margin: 0 0 20px 0;
}

.discount {
 width: 300px;
 height: 123px;
 color: #ffffff;
 background-color: #8ed78f;
 margin: 0;
}

.delivery {
 width: 300px;
 height: 123px;
 color: #ffffff;
 background-color: #ffc047;
 margin: 20px 0 0 0;
}

.block-materials,
.block-instruments,
.block-technique,
.block-discount,
.block-delivery {
 font-size: 24px;
 line-height: 30px;
 font-weight: 700;
 color: #ffffff;
}

.link-choice {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 color: #ffffff;
 text-transform: uppercase;
}


/* Слайдер */
.slider {
 position: relative;
 background-color: #9e8c77;
}


.wrap3 {
 width: 620px;
 height: 266px;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.slider-item {
  display: none;
   padding: 70px 0 70px 0;  /* че за магия? */
}

.slider-item:nth-child(1) {
  background-image: url("../img/layer1.jpg");
  background-repeat: no-repeat;
}

.slider-item:nth-child(2) {
  background-image: url("../img/layer2.jpg");
  background-repeat: no-repeat;
}


.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.slider-name {
  margin: 22px 0 0 22px;
  padding: 0;
 font-size: 36px;
 line-height: 36px;
 font-weight: 700;
 color: #ffffff;
 text-transform: uppercase;
}

.slider-item p {
  margin: 4px 0 0 24px;
  max-width: 148px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.link-slider {
  display: block;
  width: 195px;
  padding: 12px 0;
  font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 color: #ffffff;
 background-color: #ee3643;
 text-transform: uppercase;
 text-align: center;
 border-radius: 3px;
 border: none;
} 

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  top: 2px ;
  left: 2px;
  z-index: 1;
  background: #ffffff;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 36px;
  z-index: 100;
  width: 30px;
  height: 10px;
  text-align: center;  /*как между кнопками слайдера сделать отступ */
}


#btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#btn-1:checked ~ .slider-controls .slider-controls-item-1::before,
#btn-2:checked ~ .slider-controls .slider-controls-item-2::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 50%;
  top: 2px ;
  left: 2px;
  z-index: 2;
  background: red;
  }
 
  
  .goods {
   width: 940px;
   margin: 0 auto;
   min-height: 428px;
  }

.popular {
 display: inline-block;
 width: 940px;
 min-height: 90px;
 margin: 0 0 20px 0;
 padding: 0;
 color: #32425b;
 background-color: #f9f5f0;
}

.popular-title {
  display: inline-block;
  float: left;
  width: 262px;
 margin: 0;
 padding: 30px 0 30px 30px;
 font-size: 30px;
 line-height: 30px;
 font-weight: 400;
 color: #32425b;
 text-transform: uppercase;
}







/* Карточки товара */
.wrap-goods {
 width: 940px;
 min-height: 318px;
 margin: 0 auto;
 margin-bottom: 20px;
}

.wrap-goods ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-goods {
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  position: relative;
  text-align:center;
}

.link-goods,
.link-production {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 color: #ffffff;
 background-color: #ee3643;
 text-transform: uppercase;
 display: block;
 float: right;
 width: 252px;
 border-radius: 3px;
 text-align: center;
 padding: 12px 0;
 margin-right: 24px;
 margin-top: 25px;
}

.buy {
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 background-color: #63a63e;
 text-transform: uppercase;
 }

  .buy,
  .in-bookmark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
  }

.in-bookmark {
  font-size: 14px;
 line-height: 18px;
 color: #32425c;
 background-color: #ffffff;
 text-transform: uppercase;
 border: 3px solid #63a63e;
 border-bottom-color:#63a63e;
}


.drill-title {
  color: #000000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  min-height:40px;
  padding:0 25px;
  margin-top:10px;
  margin-bottom:15px;  
}


.old-price {
  color: #a9a9a9;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
}

.button-goods {
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #ee3643;
  position: relative; 
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border-radius:3px;
}
   

.button-goods::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border: 19px solid rgb(255, 255, 255); 
  border-left-color: #ee3643;  
} 

   .flag-new {
   position:absolute;
   top: -1px;
   right: -1px;
   width: 60px;
   height: 60px;
   overflow: hidden;
   z-index: 20;
   background: url("../img/new-flag.png") no-repeat 0 0;
  }

.button-actions {
   position:absolute;
   top: 0;
   left: 0;
   width: 218px;
   height: 88px;
   padding: 40px 0;
   background-color: rgba(255,255,255,0.9);
   z-index: 10;
  }

  .item-goods .button-actions {
    display:none;
  }
  .item-goods:hover .button-actions{
    display:block;
  }


 .image-goods {
  width: 220px;
  height: 168px;
  }

 





 .company ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

.popular-company-title {
 display: inline-block;
 float: left;
 width: 365px;
 margin: 0;
 padding: 30px 0 30px 30px;
 font-size: 30px;
 line-height: 30px;
 font-weight: 400;
 color: #32425b;
 text-transform: uppercase;
}

.wrap-company {
 width: 940px;
 min-height: 310px;
 margin-bottom: 86px;
}

.list-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.item-company {
 width: 220px;
 height: 145px;
 border: 1px solid #eaeaea;
}

 .item-company img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  height: auto;
  border: none;
  }







.service {
  background: #f4f7f9;
}

.wrap-service {
 width: 940px;
 margin: 0 auto;
 min-height: 522px;
}

.service-title {
 color: #000000;
 font-size: 30px;
 line-height: 30px;
 text-transform: uppercase;
 padding-top: 65px;
 padding-bottom: 30px;
 margin: 0;
}

.service-content {
  margin: 0;
  padding: 0;
 color: #000000;
 font-size: 13px;
 line-height: 24px;
 font-family: "PT Sans", Arial, sans-serif;
}

.service-block-list input {
  position: absolute;
  opacity: 0;

}

.label-button {
  margin: 0;
  display: block;
  width: 240px;
  padding: 16px 0 16px 22px;
  background-color: #32425c;
}



.service-block-list {
  margin: 0;
  padding: 0;
 list-style-type: none;
 color: #ffffff;
 font-size: 21px;
 line-height: 30px;
 font-weight: 700;
 
}


.delivery-block-name,
.guarantee-block-name {
  color: #32425c;
 font-size: 36px;
 line-height: 36px;
 text-transform: uppercase;
}

.credit-block-name {
 color: #32425c;
 font-size: 36px;
 line-height: 24px;
 text-transform: uppercase;
}

.delivery-content,
.guarantee-content,
.credit-content {
 color: #000000;
 font-size: 13px;
 line-height: 24px;
 font-family: "PT Sans", Arial, sans-serif;
}

.link-send {
 color: #ffffff;
 background-color: #ff5357;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
}

.company-title {
 color: #000000;
 font-size: 30px;
 line-height: 30px;
 text-transform: uppercase;
}

.company-content,
.adress-content {
 color: #000000;
 font-size: 13px;
 line-height: 24px;
 font-family: "PT Sans", Arial, sans-serif;
}

.list-company-technomart {
 list-style: none;
 color: #000000;
 font-size: 18px;
 line-height: 20px;
}

.detail-link {
 color: #ffffff;
 background-color: #ee3643;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
}

.contact-title {
 color: #000000;
 font-size: 30px;
 line-height: 30px;
 text-transform: uppercase;
}

 .button-map {
 color: #ffffff;
 background-color: #ff5357;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 }

.modal-write-us {
 color: #a9a9a9;
 font-size: 13px;
 line-height: 18px;
 font-family: "PT Sans", Arial, sans-serif;
 border-top: 7px solid #ff5257;
}

.form-item label {
 color: #000000;
 font-size: 18px;
 line-height: 18px;
}

.modal-write-us input {
border: 2px solid #dee3e4;
}

.modal-bottom {
 background-color: #f4f4f4;
}

.link-send {
 color: #ffffff;
 background-color: #ee3643;
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 border: none;
}

.top-footer {
 color: #ffffff;
 background-color: #32425c;
}
 
.navigation-footer1 {
  list-style: none;
}

.navigation-footer1 a {
 font-size: 18px;
 line-height: 24px;
 color: #ffffff;
}

.adress-footer {
  font-size: 18px;
 line-height: 24px;
 color: #ffffff;
}

.navigation-footer2 {
  list-style: none;
}

.navigation-footer2 a {
  font-size: 18px;
 line-height: 24px;
 color: #ffd180;
}

.footer-social {
  list-style: none;
}

.down-footer {
  color: #ffffff;
 background-color: #293449;
}

.copyright,
.connect,
.made-in {
 font-size: 16px;
 line-height: 18px;
 color: #ffffff;
}

.button-footer {
 font-size: 16px;
 line-height: 18px;
 color: #ffd180;
}

/* Стили для каталога */

.login {
 font-size: 21px;
 line-height: 21px;
 color: #000000;
 background-color: #ffffff;
}


.my-orders a,
.cabinet a {
 font-size: 16px;
 line-height: 18px;
 color: #32425c;
 text-decoration: underline;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a,
.perfarators {
  font-size: 13px;
 line-height: 18px;
 color: #000000;
 font-family: "PT Sans", Arial, sans-serif;
 text-transform: uppercase;
}

.catalog-title {
 font-size: 30px;
 line-height: 30px;
 color: #32425c;
 background-color: #f2f6f8;
 text-transform: uppercase;
}

.filter-title,
.sort-title {
 font-size: 13px;
 line-height: 18px;
 color: #000000;
 background-color: #f7f3ec;
 text-transform: uppercase;
}

.filtres fieldset {
  border: none;
}

 .filtres legend {
 font-size: 17px;
 line-height: 30px;
 color: #000000;
 font-family: "PT Sans", Arial, sans-serif;
 font-weight: 700;
 text-transform: uppercase;
}

.list-product,
.list-power,
.catalog-sort-perforators,
.catalog-sort-list,
.pagination-list {
  list-style: none;
}


.list-product label,
.list-power label {
  font-size: 15px;
 line-height: 20px;
 color: #000000;
 font-family: "PT Sans", Arial, sans-serif;
 text-transform: uppercase;
}

.link-filter {
 font-size: 13px;
 line-height: 15px;
 color: #000000;
 background-color: #ffffff; 
 font-family: "PT Sans", Arial, sans-serif;
 text-transform: uppercase;
 border: 1px solid #e5e5e5;
}

.block-sort-menu {
  background-color: #f7f3ec; 
}

.button-sort {
 font-size: 13px;
 line-height: 18px;
 color: rgba(0, 0, 0, 0.3);
 text-transform: uppercase;
 border-bottom-style: dotted;
 border-bottom-color: #ee3643;
 border-bottom-width: 1px;
}

.modal-add-goods {
 background-color: #ffffff; 
 border-top: 7px solid #ee3643;
}

.modal-add-content {
 font-size: 30px;
 line-height: 30px;
 color: #000000;
}

.button-add-goods {
  background-color: #f1f1f1;
}

.place-order {
 font-size: 14px;
 line-height: 18px;
 color: #ffffff;
 background-color: #ee3643;
 text-transform: uppercase; 
}

.go-buy {
 font-size: 14px;
 line-height: 18px;
 color: #000000;
 background-color: #ffffff;;
 text-transform: uppercase; 
}

.pagination-item-current {
 font-size: 13px;
 line-height: 18px;
 color: #ffffff;
 background-color: #ee3643; 
 font-family: "PT Sans", Arial, sans-serif;
 border-radius: 3px;
}

.pagination-item {
  font-size: 13px;
 line-height: 18px;
 color: #000000;
 font-family: "PT Sans", Arial, sans-serif;
 border: 1px solid #e5e5e5;
 border-radius: 3px;
}

.about-perforators {
  background-color: #f2f6f8;
}

.about-perforators-title {
 font-size: 30px;
 line-height: 30px;
 color: #000000;
 text-transform: uppercase;
}

.content-about-perf {
 font-size: 13px;
 line-height: 24px;
 color: #000000;
 font-family: "PT Sans", Arial, sans-serif;
 text-transform: uppercase;
}


 